<settings>

	<setting propertyKey="@Properties.login" title="@Strings.login">
		<settingConfig type="alphaNumeric" />
	</setting>

	<setting propertyKey="@Properties.password" title="@Strings.password">
		<settingConfig type="alphaNumeric" />
	</setting>
	
	<setting propertyKey="@Properties.server" title="@Strings.server">
		<settingConfig type="alphaNumeric" />
	</setting>
	
	<setting propertyKey="@Properties.token" title="@Strings.token">
		<settingConfig type="alphaNumeric" />
	</setting>

	<setting propertyKey="@Properties.translitComplications" title="@Strings.translitComplications">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.lenghtComplications" title="@Strings.lenghtComplications">
		<settingConfig type="numeric" />
	</setting>

	<setting propertyKey="@Properties.defaultPlayerColors" title="@Strings.defaultPlayerColors">
		<settingConfig type="boolean" />
	</setting>
</settings>
